*{
	font-size: 14px;
}

.home-content{
	margin-top: 100px;
}

.home-content .image-box{

}

.home-content .button-box{
	margin-top: 10px;
}

.selecionar-content{
}

.selecionar-content .texto{
	margin-top: 45px;
}

.selecionar-content .checkboxgroup-box{
	margin-top: 60px;
	margin-left: 40px;
}

.selecionar-content .button-box{
	margin-top: 60px;
}

.info-content{
}

.info-content .texto{
	margin-top: 40px;
}

.info-content .info-form{
	margin-top: 40px;
}

.info-content .button-box{
	margin-top: 40px;
}

.emp-content{}

.emp-content .texto{
	margin-top: 40px;
}

.emp-content .emp-form{
	margin-top: 30px;
	margin-bottom: 30px;
}

.calc-content{}

.calc .texto{
	margin-top: 40px;
}